.heading {
  display: flex;
  flex: 1 1 5%;
  min-height: 2.5em;
  max-height: 2em;
  font-size: 3.2em;
  color: #F4B350;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  align-content: center;
  padding:20px 0px 20px 0px;
  margin-bottom: 6px;
  background-color: rgba(0,0,0,0.5);
  text-shadow: 3px 3px 10px #000;
  display: block;
  
 
}

.container{
  width:  700px; 
  height: 500px;
  border: 1px solid rgb(36, 36, 53);
  background-image: linear-gradient(rgba(237, 211, 18, 0.986),rgb(231, 20, 20));
  margin: 0 auto;
}


.theList {
color:#333;
background-color: rgba(255,255,255, 0.5);
padding:5px;
width: 500px;
margin: 0 auto;
margin-bottom:15px;
border-radius: 5px;
box-shadow: 10px 10px;
}

body{
  background-color: rgb(212, 198, 0);
}

.text {
	font: 30px Arial, sans-serif;
  color:rgb(231, 20, 20)
}